#title{
	padding: 1%;
}
#title a{
	text-decoration:none;
	color: rgba(0,0,0,1);
	font-size: 300%;
	opacity: 0.8;
	display: flex;
	justify-content: space-between;
}
#title a:hover{
	opacity: 1;
}
#title a span{
	display: inline-block;
	padding-top: 1%;
}
#title a img{
	order: -1;
	display: inline-block;
	max-width: 10%;
	margin:0 2%;
	height:auto;
	border-radius: 100%;
}
#nav-button{
	display:inline-block;
	float: right;
	background-color: rgba(255,255,255,1);	
}
#nav{
	background-color:rgba(0,0,0,1);
	display: none; 
}
#nav a{
	display:block;
	text-decoration:none;
	color: rgba(255,255,255,1);
	font-size: 140%;
	margin: 0 2%;
	opacity: 0.8;
	padding: 1%; 
}
#nav a:hover{
	color: rgba(0,0,0,1);
	opacity: 1;
	background-color: rgba(255,255,255,1);
}
@media only screen and (min-width: 768px) {
	#title a
	#title a img
	#nav-button
	nav a

}
@media only screen and (min-width: 992px) {
	#title a
	#title a img
	#nav-button
	nav a

}