html{
	background: url(../img/main.jpg) no-repeat;
	background-size: 100vw 100vh;	
}
#title h1{
	display: inline-block;
	margin: 0;
	float: left;
	padding: 1%;
	font-size:6vw;
	line-height: 100%; 
	vertical-align: middle;
}
#title img{
	display: inline-block;
	max-width:6vw;
	height:auto;
	border-radius: 100%;
	float: left;
	margin: 0;
	padding: 1%;
}
#nav-button{
	display:inline-block;
	float: right;	
	padding: 1%;
	margin: 0;
	padding: 1%;
	cursor: pointer;
}
.fa-bars{
	font-size: 6vw;
}
nav{
	
	display: none;
	clear: both;
	position: sticky;
	top: 0px;
	margin: 0;
}
nav a{
	display:block;
	text-decoration:none;
	color: rgba(0,0,0,1);
	font-size: 5vw;
	opacity: 0.8;
	padding: 1%;
	border-top: solid rgba(255,255,255,.6) ;
	background-color: rgba(255,255,255,.5);
}
nav a:hover{
	color: rgba(0,0,0,1);
	opacity: 1;
	background-color: rgba(255,255,255,.8);
}
#main{
	clear: both;
	position: relative;
}
#main p{
	width: 100%;
	font-variant: small-caps;
	font-size: 2vw;
	position: absolute;

	margin: 0 auto;
	text-align: center;
}
footer{
	display: none;
}
footer div p{
	font-size: 2vw;
	text-align: center;
	margin: 1%;
}
#social a{
	text-decoration: none;
	display: inline-block;
	margin: 0 1%;
	font-size: 4vw;
}
#social{
	display: flex;
	justify-content: center;
}
.fa-facebook{
	color: rgba(72,103,170,1);
}
.fa-twitter{
	color: rgba(44,170,225,1);
}
.fa-google-plus{
	color: rgba(206,68,55,1);
}
.fa-pinterest{
	color: rgba(238,27,34,1);
}
.fa-youtube{
	color: rgba(254,0,0,1);
}
#footer{
	font-size: 3vw;
	color: rgba(255,255,255,1);
	line-height: 4vw;
	background-color: rgba(0,0,0,1);
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {}